@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  background-color: black;
  font-family: "Poppins", sans-serif;
}
header {
  display: flex;
  margin-left: 80px;
  height: 110px;
}
header .logo {
  color: white;
}
header .logo p {
  display: inline-block;
  font-size: 40px;
  font-weight: 700;
}
header ul {
  margin-left: 100px;
  margin-top: 60px;
  width: 570px;
}
header ul li {
  display: inline-block;
}
header ul li a,
header .login a {
  text-decoration: none;
  color: #7e93fb;
  font-size: 15px;
  padding-left: 40px;
}
header .login {
  margin-top: 50px;
  margin-left: 80px;
}
header .login .login-2 {
  display: inline-block;
  color: white;
  background-color: #4561ec;
  width: 120px;
  height: 50px;
  line-height: 50px;
  margin-left: 40px;
  border-radius: 10px;
}
hr {
  border: 1px solid white;
}
nav ul{
    margin-top: 40px;
    background-color: #4561EC;
    width: 500px;
    margin-left: 65px;
    height: 65px;
    line-height: 65px;
    border-radius: 5px;

}
nav ul li{
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding-left: 25px;
    padding-right: 25px;
}
nav ul li .actived{
    display: inline-block;
    background-color: white;
    color:#4361EC;
    width: 60px;
    height: 50px;
    padding-left: 10px;
    text-align: center;
    margin-top: 8px;
    line-height: 50px;
    border-radius: 5px;
}
.section-1 .blog-1,.section-2 .blog-2,.section-3 .blog-3 {
  margin: 50px auto;
  width: 90%;
  border: 1px solid grey;
  height: 320px;
  border-radius: 4px;
}
.section-1 .blog-1 .image img,.section-2 .blog-2 .image img,.section-3 .blog-3 .image img {
  width: 500px;
  height: 320px;
}
.section-1 .blog-1 .information .date,.section-2 .blog-2 .information .date,.section-3 .blog-3 .information .date {
  color: white;
  margin-left: 560px;
  margin-top: -310px;
  font-size: 16px;
  font-weight: 500;
}
.section-1 .blog-1 .information .techo,.section-2 .blog-2 .information .techo,.section-3 .blog-3 .information .techo {
  text-decoration: none;
  color: #7e93fb;
}
.section-1 .blog-1 .head,.section-2 .blog-2 .head,.section-3 .blog-3 .head {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 30px;
  width: 600px;
  font-weight: 600;
  margin-left: 560px;
}
.section-2 .blog-2 .head{
    line-height: 37px;
}
.section-1 .blog-1 .author img,.section-2 .blog-2 .author img,.section-3 .blog-3 .author img {
  width: 30px;
  height: 40px;
  margin-left: 560px;
  margin-top: 25px;
}
.section-1 .blog-1 .author p,.section-2 .blog-2 .author p {
  color: white;
  font-size: 14px;
  font-weight: 600;
  width: 100px;
  margin-left: 625px;
  margin-top: -45px;
}
.section-1 .blog-1 .tags,.section-2 .blog-2 .tags {
  width: 500px;
  margin-left: 720px;
  margin-top: -65px;
}
.section-1 .blog-1 .tags a,.section-2 .blog-2 .tags a,.section-3 .blog-3 .tags a   {
  display: inline-block;
  color: white;
  font-size: 15px;
  text-decoration: none;
  background-color: #17181c;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 10px;
  padding: 0 13px;
}
.section-3 .blog-3 .tags {
    width: 700px;
    margin-left: 550px;
    margin-top: 10px;
  }